/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 6, 2025, 1:38:30 PM
    Author     : NGUYEN MINH
*/

.table-footer {
    border-top: 1px solid var(--border-color);
    margin: 0 -32px -24px -32px;
    padding: 10px 32px;
}
.pagination {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: var(--text-secondary);
}
.pagination-icon {
    color: var(--text-inactive);
}
.pagination .feather {
    width: 18px;
    height: 18px;
}
.page-number.active {
    color: var(--primary-color);
    font-weight: 600;
}
.page-nav {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-inactive);
    display: flex;
    align-items: center;
}
.page-nav.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
